<?xml version="1.0"?>
<robot name="robotv1" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find robotv1_description)/urdf/leg.xacro"/>
<xacro:include filename="$(find robotv1_description)/urdf/arm.xacro"/>
<xacro:include filename="$(find robotv1_description)/urdf/torso.xacro"/>
<xacro:include filename="$(find robotv1_description)/materials/materials.xacro" />
<!-- only gazebo plug-in -->
<xacro:include filename="$(find robotv1_description)/urdf/robotv1.gazebo"/>

<link name="dummy"/>
<joint name="dummy_to_pelvis" type="fixed">
  <origin xyz="0 0 ${base_pos}" rpy="0 0 0"/>
  <parent link="dummy" />
  <child link="pelvis" />
</joint>

<xacro:leg prefix="leftleg" reflect="1"/>
<xacro:leg prefix="rightleg" reflect="-1"/>
<xacro:arm prefix="leftarm" /> 


</robot>
